.pg2content{
    display: flex;
    flex-flow: wrap;
    margin: 5%;
    justify-content: center;
    
    
    div{
        align-items: center;
        width: 30%;
        margin: 4% 4% 0;
        img{
            width: 65%;
            border-radius: 20%;
            margin: 3% auto;
            }
            .adjimg{
                height: 37.5vh;
            }
        p{
            margin: 10% auto auto 3%; 
        }

    }
    
}