.features{
    text-align: center;
    h2{
        font-size: 2.1rem;
        margin: 1%;
    }
    img{
    width: 50%;
    height: 50vh;
    margin: 2%;
    border: 3px solid @border;
    border-radius:10px;
    }
    p{
        margin:1%;
    }
 }

 