footer{
    text-align: center;
     nav{
        margin: 2% auto;
        a{
            text-decoration: none;
            font-size: 1.6rem;
            padding: 2% 5%;
            color: @lighter;            
        }//anchor
    }
    p{
        margin: 1% auto;
    }
 }

