footer{
    text-align: center;
    @media @mobile{
        padding: 2%;
    }
     nav{
        margin: 2% auto;
        @media @mobile{
            padding: 1%;
        }
        a{
            text-decoration: none;
            font-size: 1.6rem;
            padding: 2% 5%;
            color: @lighter;            
        }//anchor
    }
    p{
        margin: 1% auto;
        @media @mobile{
            padding-top: 2%;
        }
    }
 }

