header{
    text-align: center;
    background-color: @darker;
     nav{
        margin: 3% auto;
        a{
            text-decoration: none;
            font-size: 2rem;
            padding: 2% 5%;
            color: @lighter;
        }//anchor
    }
    div{
        margin: 3%;
        h1{
            font-size: 4.8rem;
            margin-bottom: 2%;
        }
        p{
            font-size: 2.6rem;
        }
    }
 }//nav element